.clients
  border-top 1px solid #b2d5e4
  border-bottom 1px solid #b2d5e4
  padding 25px 0
  margin-top 15px
  margin-bottom 20px

  &__header
    color #2190c1
    em 27
    text-align center
    text-transform uppercase
    margin-bottom 20px

  &__list
    margin 0
    padding 0
    list-style none
    text-align center

  &__item
    display inline-block
    padding 0 15px
    width 146px
    text-indent -9999px
    height 30px
    vertical-align top

    &_1
      background url(../img/clients/blueway.png) no-repeat center

    &_2
      background url(../img/clients/theme.png) no-repeat center

    &_3
      background url(../img/clients/template.png) no-repeat center

    &_4
      background url(../img/clients/stockmarket.png) no-repeat center

    &_5
      background url(../img/clients/loremipsum.png) no-repeat center

    &_6
      background url(../img/clients/seyyahil.png) no-repeat center