.contact
  padding 40px 0

  &__header
    em 50
    font-weight 700
    color #2190c1
    text-transform uppercase
    text-align center

  &__description
    color #515862
    em 13
    text-align center