.offer
  background #f4f4f4
  padding 40px 0 20px

  &__header
    text-align center
    font-size 40
    color #2190c1
    text-transform uppercase
    margin-bottom 10px

  &__description
    text-align center
    color #515862
    font-size 14

  &__title
    color #2b99cc
    font-size 18
    font-weight 700

  &__text
    color #515862
    font-size 11

  .grid
    border-bottom 1px solid #d9d9d9