.pager
  padding 0 0 10px
 
  &__list
    margin 0
    padding 0
    list-style none
    text-align center

  &__item
    display inline-block
    margin-left 8px
  
  &__link
    display block
    em 20
    color #fefefe
    background #aaaaaa
    border-radius 4px
    text-decoration none
    padding 4px 10px

    &:first-child
      margin-left 0

    &:hover
      background #a0a0a0