.portfolio
  background #2e3e4f
  padding 40px 0

  &__header
    color #f98561
    padding-left 10px
    font-size 30
    line-height 1

  &__more
    color #fff
    display inline-block
    padding 4px 7px
    text-decoration none
    background #2190c1
    border-radius 3px
    font-size 13
    float right
    margin-right 20px

  &__list
    margin 15px 0 0
    padding 0
    list-style none

  &__title
    color #f98561
    font-size 19
    font-weight 700
    margin 5px 0 

  &__text
    color #bcbcbc
    font-size 13
    margin 5px 0