.services
  text-align center
  color #515862

  &__wrapper
    padding 20px 0 50px 

  &__header
    color #fff
    font-size 22
    font-weight bold
    background #2190c1
    border-radius 3px
    display inline-block
    padding 2px 5px
    position relative
    top -35px
    z-index 9999

  &__title
    font-size 18
    font-weight 700
    margin 5px 0

  &__text
    font-size 12
    margin 5px 0

  a
    color #3e9dd1
    text-decoration none