.social
  width 315px
  padding 20px 0 0

  &__header
    color #515862
    text-transform uppercase
    em 23
    font-weight 700
    text-align center
    margin-bottom 10px

  &__icon
    width 43px
    height 45px
    background url(../img/social/icons.png) no-repeat 0 0
    text-indent -9999px
    display inline-block
    float left
    margin-left 11px

    &_tw
      margin-left 0
  
    &_fb
      width 45px
      background-position -43px 0

    &_yt
      background-position -88px 0

    &_vi
      background-position -131px 0

    &_in
      background-position -174px 0

    &_gp
      background-position -217px 0