.who
  padding 20px 0 30px
  text-align center

  &__header
    em 50
    text-transform uppercase
    color #2190c1
    font-weight 700
    margin-bottom 10px

  &__description
    em 13
    color #515862

    p
      margin 0 0 20px

      &:first-child
        font-weight 700

  &__title
    color #515862
    em 70
    text-transform uppercase
    font-weight 700