@import "_vars"
@import "_mixins"

/* Шрифты */
@import "_fonts"

/* Normalize */
@import "_normalize"

/* Глобальные стили */
@import "_globals"

/* Обвязка */
@import "_page"

/* Шапка */
@import "_header"

/* Основной контент */
@import "_main"

/* Боковое меню */
@import "_sidebar"

/* Подвал */
@import "_footer"

/* Форма */
@import "_form"

/* Строка сетки */
@import "_row"

/* Колонка сетки */
@import "_column"

/* Slider */
@import "_slider"

/* Title */
@import "_title"

/* Slogan */
@import "_slogan"

/* Portfolio Menu */
@import "_portfolio-menu"

/* Gallery */
@import "_gallery"

/* Our Services */
@import "_services"

/* Our Portfolio */
@import "_portfolio"

/* Offer */
@import "_offer"

/* Testimonials */
@import "_testimonials"

/* Clients */
@import "_clients"

/* Pager */
@import "_pager"

/* Всплывающие окна */
@import "_popup"

/* Responsive */
@import "_responsive"